<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding label-text">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.</p>
  </div>
  <ion-button color="primary">Button</ion-button>
  <ion-button color="secondary">Button</ion-button>
  <ion-button color="light">Button</ion-button>
  <ion-button color="fav">Button</ion-button>
  <ion-button color="favourite">Button</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-left ion-text-uppercase ion-float-right ion-padding">
          orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to m
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>